body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.puzzle-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
    max-width: 90vw; /* Контейнер не перевищує 90% ширини вікна */
    max-height: 90vh; /* Контейнер не перевищує 90% висоти вікна */
}

.puzzle-piece {
    position: absolute;
    cursor: grab;
    background-repeat: no-repeat;
    border: 1px solid black;
    transition: transform 0.1s;
}

.puzzle-piece:active {
    cursor: grabbing;
}